<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Adia Lab Causal Discovery</title>
  <link rel="stylesheet" href="{{ "/assets/css/katex.min.css?v=" | append: site.github.build_revision | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/chota.css?v=" | append: site.github.build_revision | relative_url }}" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <script defer src="{{ "/assets/js/katex.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
  <script defer src="{{ "/assets/js/auto-render.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, {
        delimiters: [
          { left: "$$", right: "$$", display: true },
          { left: "$", right: "$", display: false },
        ],
      });
    });
  </script>
</head>

<body class="container">
  <header></header>
  <main>
    {{ content }}
  </main>
  <footer></footer>
</body>

</html>
